<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>New Member Information</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 text-center">
                    Image will be shown here.
                    <img src="/members/?id=1" width="500">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <label>Name:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Birth Day:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.birth_day }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Birth Month:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.birth_month }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Birth Year:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.birth_year }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Dad's Name:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.dad_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Mom's Name:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.mom_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button name="submit" class="btn btn-success pull-lef" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
