<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>New Member Information</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% if not member_id %}
                        Image will be shown here.
                    {% else %}
                        <img src="/members/?id={{ member_id }}" width="500">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-3">
                        <label>ชื่อเล่น:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.nickname }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>ชื่อจริง:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.firstname }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>นามสกุล:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.lastname }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>เพศ:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.gender }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>วันเกิด:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.birth_day }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Birth Month:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.birth_month }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Birth Year:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.birth_year }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>ชื่อเล่นคุณพ่อ:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.dad_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>ชื่อเล่นคุณแม่:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.mom_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>ที่อยู่:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.address }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>จังหวัด:</label>
                    </div>
                    <div class="col-md-9">
                        {{ form.province }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>อัพโหลดรูป กว้าง 500px: </label>
                    </div>
                    <div class="col-md-9">
                        <input id="id_image" type="file" class="" name="image">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button name="submit" class="btn btn-success pull-lef" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
