<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>ข้อมูลสมาชิกใหม่ คลับแม่มะเมียมกรา 57</h1>
            <h5>ตรวจสอบข้อมูลก่อนสมัคร หากผิดพลาดติดต่อแอดมินจ้า</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% if not member_id %}
                        <br>
                        *** อัพโหลด "รูปแนวตั้ง" เท่านั้น รูปตัวอย่างที่ generate แล้วจะได้ตามนี้จ้า ***
                        <br>
                        *** หากมี id แล้ว อยากแก้ไขรูป ให้เข้าไปที่ (เช่น id=1) <a href="http://{{ request.get_host }}/members/1/">Go back home</a>***
                        <br>
                        <img src="/members/?id=1">
                    {% else %}
                        <br>
                        *** อัพโหลด "รูปแนวตั้ง" เท่านั้น รูปตัวอย่างที่ generate แล้วจะได้ตามนี้จ้า ***
                        <br>
                        *** หากมี id แล้ว อยากแก้ไขรูป ให้เข้าไปที่ <a href="http://{{ request.get_host }}/members/{{ member_id }}/">Go back home</a>***
                        <br>
                        <img src="/members/?id={{ member_id }}">
                    {% endif %}
                </div>
            </div>
        </div>
        <p>
        <div class="col-md-3">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <label>ชื่อเล่น:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.nickname }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>ชื่อจริง:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.firstname }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>นามสกุล:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.lastname }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>เพศ:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.gender }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>วันเกิด:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.birth_day }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Birth Month:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.birth_month }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Birth Year:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.birth_year }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>ชื่อเล่นคุณพ่อ:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.dad_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>ชื่อเล่นคุณแม่:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.mom_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>ที่อยู่:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.address }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>จังหวัด:</label>
                    </div>
                    <div class="col-md-6">
                        {{ form.province }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>อัพโหลดรูปแนวตั้ง: </label>
                    </div>
                    <div class="col-md-6">
                        <input id="id_image" type="file" class="" name="image">             
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        **เฉพาะรูปแนวตั้งเท่านั้น และแม่ๆ ต้องปรับขนาดรูป ให้พอดีกรอบจากโปรแกรมอื่นจ้า**
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button name="submit" class="btn btn-success pull-lef" type="submit">Add</button>
                    </div>
                </div>
            </form>
            <h5>หากสมัครสมาชิกแล้ว เปลี่ยนรูปได้ด้วยตัวเอง ที่ /members/idของม้าน้อย</h5>
        </div>
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
